
body {
 text-align: center;
 margin: 0 auto;
 font-size: 30px;
 font-family: sans-serif, arial;
}
#head {
    margin-top: 10px;
    color: #4B7089;
    border-bottom: 5px solid #5BC0DE;
}
#data, #ind {
    margin-top: 30px;
    color: #4B7089;
}
#btn, #btn1, #btn2 {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #5BC0DE;
    color: white;
}